#searchBar{
    width: 80%;
    margin: auto;
}

p{
    padding: 5%;
    font-size: 1rem;
    margin: 0;
}
.prix{
        display: inline-block;
        font-size: 1.5em;


}
article img{
    max-width: 50%;
}
.bx-wrapper img {

    max-width: 90%;
    margin-top: 5px;


}
